body{
    text-align: center;
    font-family: monospace, monospace;
    font-size: 20px;
}
button {
    height: 50px;
    width: 120px;
    background-color: #e8e6e3;
    text-align: center;
    color: #2c2921;
    border-radius: 5px;
    font-family:  monospace, monospace;
}
table {
    text-align: center;
}
